{% block offre %}
      <div class="content">
 


        <div class="row">
          <div class="col-lg-6">
            <div class="card card-chart">
              <div class="card-header">
                <h4 class="card-header"><i class="tim-icons icon-book-bookmark text-primary"></i> Offres</h4>
        <!--         <h4 class="card-header">3 en totale</h4>
                <h4 class="card-header">3 disponibles</h4>
                <h4 class="card-header">3 non disponibles</h4>-->
              </div>
               <div class="card-body">
 
                <div class="chart-area">
                  <canvas id="chartLinePurple"></canvas>
                </div>
 
                <div class="col-md-55">
                  <a href="./offre/show">
                    <button class="btn btn-primary btn-block" onclick="demo.showNotification('top','center')">Voir Offres</button>
                    </a>
                </div>
                
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card card-chart">
              <div class="card-header">
                <h4 class="card-header"><i class="tim-icons icon-badge text-info"></i> Candidatures</h4>
        <!--         <h4 class="card-header">3 en totale</h4>
                <h4 class="card-header">3 disponibles</h4>
                <h4 class="card-header">3 non disponibles</h4>-->
              </div>
               <div class="card-body">
      
                <div class="chart-area">
                    <canvas id="chartLinePurple"></canvas>
                  </div>
 
                <div class="col-md-55">
                    <button class="btn btn-primary btn-block" onclick="demo.showNotification('top','center')">Voir Candidatures</button>
                  </div>
                
              </div>
            </div>
          </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
              <div class="card card-chart">
                <div class="card-header">
                  <h4 class="card-header"><i class="tim-icons icon-book-bookmark text-success"></i> Contrats</h4>
          <!--         <h4 class="card-header">3 en totale</h4>
                  <h4 class="card-header">3 disponibles</h4>
                  <h4 class="card-header">3 non disponibles</h4>-->
                </div>
                 <div class="card-body">
   
                  <div class="chart-area">
                    <canvas id="chartLinePurple"></canvas>
                  </div>
   
                  <div class="col-md-55">
                      <button class="btn btn-primary btn-block" onclick="demo.showNotification('top','center')">Voir Contrats</button>
                    </div>
                  
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card card-chart">
                <div class="card-header">
                  <h4 class="card-header"><i class="tim-icons icon-badge text-muted"></i> Domaines</h4>
          <!--         <h4 class="card-header">3 en totale</h4>
                  <h4 class="card-header">3 disponibles</h4>
                  <h4 class="card-header">3 non disponibles</h4>-->
                </div>
                 <div class="card-body">
        
                  <div class="chart-area">
                      <canvas id="chartLinePurple"></canvas>
                    </div>
   
                  <div class="col-md-55">
                      <button class="btn btn-primary btn-block" onclick="demo.showNotification('top','center')">Voir Domaines</button>
                    </div>
                  
                </div>
              </div>
            </div>
          </div>
      </div>{% endblock %}