{% block backnavbar %}

    <div class="wrapper">
    <div class="sidebar">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
    -->

    {% include 'BackOffice/Components/toolbar.html.twig' with {'getsion': getsion } %}
      
    <div class="main-panel">
      {% include 'BackOffice/Components/navbar.html.twig' %}

      <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      {% if getsion == "" %}
        {% include 'BackOffice/Components/dashboard.html.twig' %}
      {% elseif getsion == "utilisateur" %}
        {% include 'BackOffice/Components/utilisateur.html.twig' %}
      {% elseif getsion == "offre" %}
        {% include 'BackOffice/Components/offre.html.twig' %}
      {% elseif getsion == "profile" %}
        {% include 'BackOffice/Components/profile.html.twig' %}
      {% elseif getsion == "portfolio" %}
        {% include 'BackOffice/Components/portfolio.html.twig' %}
      {% elseif getsion == "formation" %}
        {% include 'BackOffice/Components/formation.html.twig' %}
      {% endif %}
      {% include 'BackOffice/Components/footer.html.twig' %}
    </div>
  </div>
    

{% endblock %}